.my-rectangle {

   padding: 30px;
    max-width: 200px;
    margin: auto;

    border: none;
    background-color: #0e0d0d; 
    border-radius: 30px;
}
p {
    font-size: 16px;
    font-family: sans-serif;
    color:  rgb(242, 241, 244);
}

.my-styled-button {
    background-color: #04AA6D; 
    padding: 15px 32px; 
    font-size: 16px; 
    border-radius: 8px; 
}
