.parent-container{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f1f1;
    border: 1px solid #fcfcfc;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}


.one{
    width: 150px;
    padding: 20px;
    background-color: rgb(15, 22, 224);
    border-radius: 4px;
}
.two{
    width: 150px;
    padding: 20px;
    background-color: rgb(207, 7, 214);
    border-radius: 4px;
}
.three{
    width: 150px;
    padding: 20px;
    background-color: green;
    border-radius: 4px;
}
    @media screen and (max-width: 550px) { 
      body {
        font-size: 14px;
      }
      .navigation {
        flex-direction: column;
      }
    }
